[2013-07-30 13:09] vivrass opened #3 "Unified calendar"
We need a calendar in which the information for each meet-up/office hours/railsbridge is present.

Google calendar is preferable.

[2013-07-30 13:10] vivrass opened #4 "Website need to be bilingual"
French + English

[2013-07-30 13:11] vivrass opened #5 "Manage and display news items"
We need a news feed (kind of blog) to post other items that are not events.

[2013-07-30 13:13] vivrass opened #6 "Display speakers"
We need a list with all the speakers listed.

A speaker needs to have the list of all its talk (title, extract, slides)

A video for the talk would be nice but we don't have them right now.

[2013-07-30 13:14] vivrass opened #7 "List of Ruby/RoR company"
We need a list + a map of all the company using Ruby and RoR in Montreal/Quebec with their contact information.

If would be nice to know when the sponsored an activity.

[2013-07-30 13:16] vivrass opened #8 "Manage and display members"
Having a list of all the members with name, private email, picture, twitter, description (free text) would be nice.

[2013-07-30 13:17] vivrass opened #9 "Manage and display job postings"
We need a job board where company needs to sponsor/pay to display a job on it.

The payment can be done offline.

[2014-09-29 17:01] vivrass opened #10 "Members can manage their profile"
Every users should be able to set:
    - [x] Name
    - [x] Email
    - [x] Picture (gravatar)
    - [x] Link to twitter
    - [x] Link to github
    - [x] Description

[2014-09-29 17:02] vivrass opened #11 "Members submit to talk"
As a member, I want to be able to register my proposed talk with

- [x] title
- [x] Description
- [x] Level
- [x] Format (see #262 )
- [x] Link to my presentation slides

Non editable attributes for a non-admin user:

- [x] the talk should have the `proposed` state
- [x] the talk should be linked to my member

UI :

- [x] I should see a confirmation page with my talk's details and that it is in pr

[2014-09-29 17:02] vivrass opened #12 "User Authorization"
Users can be: 'general', 'member', 'organizer', 'administrator'

[2014-09-29 17:03] vivrass opened #13 "Manage and display locations assigned to events"
As an organizer, I want to have a list of available meet-up places

    Name
    Address
    Directions
    Google Map

- [x] manage locations
- [x] assign locations to an event
- [x] display location on event page

[2014-09-29 17:03] vivrass opened #14 "Manage and display events"
As an organizer, I want to be able to be able to create a monthly event

    Choose a meet-up place
    Choose 2 talks
    Add an introduction + conclusion (french + english)

- [x] manage events in the admin
- [x] display events
- [x] render the show view
- [x] add missing attributes to the index view
- [x] link title on the index view

[2014-09-29 17:03] vivrass opened #15 "Create a layout for the website"
We need a layout for montrealrb.com

[2014-09-29 17:04] vivrass opened #16 "Register as a member via Twitter"
Allow users to register with Twitter

[2014-09-29 17:04] vivrass opened #17 "Register as member a via Github"
Allow users to register with Github

[2014-09-29 17:05] vivrass opened #18 "Manage and display organizations"
As a company, I'd like to have a page on the website
    Name
    Address
    Logo
    Description
    List of members working there
    List of members who can manage the company

[2014-09-29 17:05] vivrass opened #19 "Assign an organization to an event as a sponsor"
As an organizer, I'd like to be able to select companies as sponsors for an evenment

    Company name
    Logo
    Description of the sponsorship

[2014-09-29 17:07] vivrass opened #20 "Search site content"
Allow visitors to search for talks, public companies, and public members

[2014-09-29 17:08] vivrass opened #21 "Email members"
An organizer can email all members.

[2014-09-29 17:08] vivrass opened #22 "RSVP an event"
An authenticated member can RSVP to an event

[2015-11-04 00:30] benichu opened #29 "Add a `bin/setup` script to automate setting up a new development environment"
Answering the question:

[2015-11-04 00:30] benichu commented on #29
Also update the README accordingly.

[2015-11-04 00:40] benichu opened #30 "Make README more informational and helpful"
# Project Name

## Description

## Requirements

## Development Setup

## Testing

## Deploy

## Bug Tracker

## License

[2015-11-04 00:41] benichu commented on #30
Also, extract requirements in separate file in `./doc`

[2015-11-04 00:52] benichu opened #31 "Update to rails 4.2+"

[2015-11-04 00:52] benichu opened #32 "rspec seems to be the test framework, if so, remove the `test` folder"

[2015-11-04 00:58] benichu opened #33 "Wrong montrealrb organization website in profile"
![](https://www.dropbox.com/s/t7c34ztmd214cmq/Montreal.rb_2015-11-03_19-57-01.png?dl=1)

[2015-11-04 00:59] benichu opened #34 "Should the requirement stories be stored as markdown in the project or in Trello?"
cc @sophiedeziel @vivrass

[2015-11-04 01:00] benichu commented on #31
or rails 5?

[2015-11-04 01:15] sophiedeziel commented on #29
Thanks Ben! :+1:
It was my plan for tonight to prepare the repository, so everything you pointed out today id very helpful :smile:

[2015-11-04 01:18] sophiedeziel commented on #34
Hmmm, I think keeping everything in github is the best for "post-workshop" improvements

[2015-11-04 01:26] #33 closed

[2015-11-04 01:28] benichu commented on #34
:+1:

[2015-11-04 01:28] #34 closed

[2015-11-04 01:31] sophiedeziel commented on #31
Rails 5 is very tempting :smile: But it's not even in beta! Let's update to 4.2 first, and we'll see then for 5. Is that good for you?

[2015-11-04 01:34] benichu commented on #31
Fine by me.

As a side note, I just started our first rails5 api at work... I am a cowboy :D
But I wouldn't do that for Montreal.rb's website.

[2015-11-04 01:40] sophiedeziel commented on #31
That's soooo cool!

[2015-11-04 02:16] #31 closed

[2015-11-04 03:02] sophiedeziel commented on #30
It's still can be improved, but I filled out all the sections!

[2015-11-04 03:02] #30 closed

[2015-11-04 03:04] sophiedeziel commented on #29
We only need to `bundle install` and `rake db:setup`. Is it really needed at this point?

[2015-11-04 03:06] #32 closed

[2015-11-04 03:15] sophiedeziel commented on #7
duplicate of #18 (18 is more detailed)

[2015-11-04 03:15] #7 closed

[2015-11-04 03:17] sophiedeziel opened #35 "Manage and display pages"
We need pages of content (separated from the news feed) for special content (about, FAQs, howtos)

- [x] manage pages in the admin
- [ ] access pages via a link

[2015-11-04 11:46] benichu commented on #29
IMHO, it's always good to automate/formalize recurrent tasks into well defined, easy to run (by humans or machines) scripts.
Starting that process at the beginning of a project offer future users and system evolutions a good foundation.
I'll start something up, we'll take it from here...

[2015-11-04 11:47] benichu commented on #29
it will be a small script, but with more than just `bundle install` and `rake db:setup` :wink:

[2015-11-04 11:50] benichu opened #36 "Should we add the following services and badges?"
- [x] travis-ci.org
- [x] gemnasium.com
- [x] codeclimate.com
- [x] coveralls.io

[2015-11-04 11:52] benichu opened #37 "Add a CONTRIBUTING.md file"
with something like:

[code]

[2015-11-04 16:32] sophiedeziel commented on #36
Yes! MOAR BADGES! :heart:

[2015-11-06 10:41] benichu opened #40 "Create binstub for rspec executable"

[2015-11-06 10:42] benichu commented on #40
Will work on it when other documentation related PRs are closed/merged

[2015-11-06 10:42] benichu commented on #40
need to update README.md and CHANGELOG.md

[2015-11-07 23:39] #29 closed

[2015-11-08 00:18] #37 closed

[2015-11-08 00:21] sophiedeziel commented on #40
Merged! :dancer:

[2015-11-08 12:49] #40 closed

[2015-11-10 00:02] nicholasjhenry opened #42 "Migrate data from old site"
I'm assuming we are doing this?

- [x] source dump of MySQL DB
- [x] import posts to news
  - [x] convert html to markdown

[2015-11-19 00:27] #36 closed

[2015-11-19 00:48] benichu opened #43 "Ready to be deployed to heroku"
- [x] Deploy procedure/scripts
- [x] Continuous deployment :question:
- [x] montrealrb.com DNS switch ready (who has credentials for domain management and where...)

[2015-11-19 00:54] sophiedeziel commented on #43
We already have Travis working, we can use it in our advantage :smile:

[2015-11-19 00:56] benichu opened #44 "Update to proper MIT Licence"

[2015-11-19 01:11] benichu opened #45 "Find and set-up in <header> the appropriate favicon ico and pngs for proper display as bookmarks in browsers and mobiles"

[2015-11-19 01:24] vivrass commented on #43
I am the one who is controlling the DNSes. I can transfer the ownership to someone else ( @sophiedeziel or a generic Montreal.rb user)

[2015-11-19 02:22] sophiedeziel commented on #43
Transfer it to me first and I'll set up proper "accounts and credential" sharing when it will be needed

[2015-11-19 02:34] nicholasjhenry opened #46 "Create a mockup to drive features"

[2015-11-19 02:34] nicholasjhenry opened #47 "Create a domain/data model"

[2015-11-19 03:01] sophiedeziel commented on #43
What I did:
-[x] Heroku app setup
-[x] Travis-CI config
-[x] Travis-CI deploying master to heroku on each successful build
-[ ] Pointing DNS to heroku when the app is ready to use

https://montreal-rb.herokuapp.com/

[2015-11-20 19:00] nicholasjhenry commented on #21
We can subscribe members to a Email Marketing Service such as MailChimp to handle this requirement.

[2015-11-20 19:08] sophiedeziel commented on #21
Mailchimp = :heart:

(that's all I have to say)

[2015-11-20 19:53] nicholasjhenry commented on #47
Based on the requirements listed in the issue tracker and the current database schema, I believe this accurately models the domain -- note that it does not address language requirements.

![montreal-rb](https://cloud.githubusercontent.com/assets/40253/11310185/1a559fde-8f96-11e5-9e17-6ea7b315cd51.png)

I'm not suggesting we need to something as complicated as this, but it does give us a high-level

[2015-11-20 19:57] benichu commented on #47
It definitely gives us a clear overview of the domain, I'll look into it this weekend.

[2015-11-20 20:14] mdeloupy commented on #47
This is great ! Thanks Nicholas !

[2015-11-20 21:12] nicholasjhenry commented on #46
Below is a wire-frame and site map  of the home page. I won't provide much explanation here as I think it is pretty straight forward. The main body of the home page will be an aggregator for recent events, news and job postings. The side bar will highlight up-coming events.

## Home Page Wireframe

![new mockup 1](https://cloud.githubusercontent.com/assets/40253/11311912/ca2883cc-8fa0-11e5-8227-70

[2015-11-20 21:28] benichu commented on #46
you are the man.

![](http://www.jewishjournal.com/images/made/e52c9891b2873d62/dos-equis-guy_300_232_c1.JPG)

[2015-11-20 21:58] nicholasjhenry commented on #20
First iteration of this could be a simple Google Search, for example:

`site:/www.montrealrb.com/ Nicholas Henry`

https://www.google.ca/?gfe_rd=cr&ei=45ZPVpyqAePK8gf9y5mAAg#q=site:%2Fwww.montrealrb.com%2F+Nicholas+Henry

[2015-11-20 22:03] nicholasjhenry commented on #4
Let's add this as a requirement to CONTRIBUTING.md and then close this issue.

[2015-11-20 22:05] sophiedeziel commented on #4
I agree for the long term, but let's not worry about i18n for the workshop if some teams are not familiar with this.

[2015-11-20 22:07] nicholasjhenry commented on #4
ok, so you're suggesting we won’t have translated models for the workshop?

[2015-11-20 22:16] sophiedeziel commented on #4
Actually, this is something worth thinking about. I honestly don't know what's the overhead of translations for beginners. Also, as we discussed Wednesday, the goal is to have the set of features we use in the actual wordpress website. Translation is not part of it.

But, internationalizing from the start has so many benefits on the long term and is definitely something i'd love to have.

Your ide

[2015-11-20 22:18] nicholasjhenry commented on #4
the other thing to consider is that  the existing models are translated, but I share your concern the barrier to entry for beginners.

[2015-11-20 22:19] sophiedeziel commented on #46
For the front page, should we have a single column feed? It’s (a little bit) easier to have a nice display on mobile from the get go. (It's useful the day of the event when people need the exact address or something like that)

[2015-11-20 22:21] nicholasjhenry commented on #46
Great question/suggestion, I was thinking that from a responsive point of view the side bar would move to  the top on smaller devices -- which would be nice as the most recent event would be at the top.

[2015-11-20 22:21] sophiedeziel commented on #20
:+1: for google. That's easy to implement and search is a useful feature to have.

[2015-11-20 22:22] nicholasjhenry opened #48 "Aggregate news, events and job postings on the home page"

[2015-11-20 22:25] sophiedeziel commented on #48
Yaaaaaaaaaaasssss!

[2015-11-21 04:14] nicholasjhenry commented on #46
@sophiedeziel So maybe a walk through would be appropriate for this -- I'll be online Saturday morning if you're up for a hangout.

[2015-11-21 14:46] benichu commented on #46
I think the 2 columns layout is great, collapsing to 1 col with the "upcoming events" sidebar at the top when viewing on mobile.

[2015-11-21 14:50] benichu opened #49 "Add a section about the JS/CSS framework (bootstrap 3) we use (in README or CONTRIBUTING?)"
related to #46

[2015-11-21 15:28] sophiedeziel commented on #46
Yep, that solution is the best!

[2015-11-21 17:51] mathieugagne commented on #4
I made a comment on Slack about translation not being a requirement for a minimum viable product. We do everything in English at the moment. It also seems that the approach to implement it wasn't as straight forward:
- internationalized db columns
- globalize
- pure I18n yaml translations
- custom translation system

I personally would consider this a feature and not a requirement. Would focus on

[2015-11-21 18:21] #44 closed

[2015-11-21 18:33] benichu commented on #49
Also mention `erb`

[2015-11-21 19:22] #49 closed

[2015-11-21 20:34] nicholasjhenry commented on #18
While I think it's a great idea to have a directory of companies/organizations I'm concerned with the feature: `List of members working there`.

[2015-11-21 21:24] nicholasjhenry opened #52 "Create a roadmap for development"
Below is a proposed roadmap with milestones. Perhaps something we can review together over a hangout before the workshop.

## Roadmap

### Introduction

- milestones with the same number can be implemented at the same time, e.g. milestones 1a and 1b can start at the same time
- milestones proceeding a number are dependent on the preceding milestones, e.g. all milestones 2 are dependent on 1, there

[2015-11-21 22:54] benichu commented on #52
Looks good. Only concern is: Workshop is __Tuesday__
Will we have time to finish the prerequisites in time?
If we need to strip that down:
* `implement authentication` -> __could be done by a team during the workshop__
* `one item from the 1.x milestones to be implemented` -> __let's go commando, and introduce the attendees to thoughtbot/administrate at the beginning of the workshop, and let each

[2015-11-21 23:00] benichu commented on #52
As a side note, If a decision has been made regarding #4, we need some cleanup and/or preparations tasks (ex: cleanup DB schema if we don't use globalize yet...)

[2015-11-22 23:53] benichu opened #54 "Email to contact@montrealrb.com goes nowhere"
[code]

[2015-11-22 23:54] benichu commented on #54
If we can't receive emails to that address, we need to change this:  https://github.com/montrealrb/Montreal.rb/blob/master/CODE_OF_CONDUCT.md

[2015-11-22 23:54] benichu commented on #54
cc @sophiedeziel @vivrass

[2015-11-23 23:20] nicholasjhenry opened #56 "Clean-up Models/DB Schema"
Before the workshop I'm going to clean up the schema -- here's a heads up on what I plan to do:

- [x] votes, remove table (no plan for use)
- [x] users, remove bio (will have members model)
- [x] remove bio for talks
- [x] talks, remove table (not translated)
- [x] rename companies -> organizations

Let me know if there are any concerns.

[2015-11-24 00:44] sophiedeziel commented on #56
We can remove `bio` for `talks` since that info is in the `member` model

[2015-11-24 00:57] sophiedeziel commented on #54
I created the address!

[2015-11-24 00:57] #54 closed

[2015-11-24 01:06] #43 closed

[2015-11-24 01:10] sophiedeziel commented on #4
@mathieugagne did a great job summarizing our discussion on slack. Also, after spending some time thinking about it, I agree with his 2 cents :wink:. Finally, Mathieu is leaving cents everywhere, we will have a dollar pretty soon!

[2015-11-24 01:13] sophiedeziel commented on #52
I am tempted to reply with a long long long text. But I'll give you a TL;DR right now for free, without the long text: I agree with everything @benichu said.

@nicholasjhenry's roadmap is great!

[2015-11-24 01:57] benichu commented on #56
:+1:

[2015-11-24 02:37] mathieugagne commented on #52
Now that it seems a decision has been made for #4, where does it fit?

Suggestion:

### Milestone 3 - Theme: Internationalization

- Import translations for all past items
- Translate layout, error messages and other application-related items

[2015-11-24 02:48] sophiedeziel commented on #52
Yep, milestone 3 :) Do we have to add anything to our administration tools to manage translations? If so, it should be a step in the milestone. Also, once everything is localized, we should add internationalization as a requirement for future contributions.

[2015-11-24 20:37] nicholasjhenry commented on #52
I've added I18n as a future milestone.

No, it just works :-)

[2015-11-24 20:39] nicholasjhenry commented on #4
Since we have translated models already, why don't we do keep doing translated models (i.e. Globalize), but ignore all other aspects of I18n?

[2015-11-24 20:42] cawel commented on #47
Very useful :+1:

Here are a few comments (which might be premature for a *high-level* db schema):

* In order to have url-friendly url's for the pages within the "content management", it would be nice to have some slugs (hence, columns).
* The pages within the "content management" could be linked to the `User` model, e.g. an `author_id` field (as an alias to the `user_id` column).
* In order to s

[2015-11-24 20:54] nicholasjhenry commented on #47
It's more an object model, than a DB schema focused on persistence -- hence no foreign keys, join tables etc. @cawel But theses are all great suggestions. Thank you! :boom:

Yes, definitely.

Yes, definitely. Probably makes most sense for `Event`, `NewsItem` and `Page`.

Yes, to persist the many-to-many relationship we would definitely need a join table.

[2015-11-24 21:25] sophiedeziel commented on #52
Oh! And you checklisted all the things! That's awesome!

[2015-11-24 23:13] nicholasjhenry opened #58 "Implement Authentication"
The administration tool should require an authenticated user.

[2015-11-24 23:15] nicholasjhenry opened #59 "Display recent events on the home page in the sidebar"

[2015-11-24 23:15] nicholasjhenry opened #60 "Manage and display talks assigned to events"

[2015-11-24 23:16] nicholasjhenry opened #61 "Assign members to talks"

[2015-11-24 23:16] nicholasjhenry opened #62 "Display talks for a member"

[2015-11-24 23:17] nicholasjhenry opened #63 "Display a location for an event"

[2015-11-24 23:18] nicholasjhenry opened #64 "Assign an organization as a sponsor for an event"

[2015-11-24 23:18] nicholasjhenry opened #65 "Display sponsors for an event"

[2015-11-24 23:19] nicholasjhenry opened #66 "Assign an organization to a job posting"

[2015-11-24 23:28] mdeloupy commented on #64
Duplicate of https://github.com/montrealrb/Montreal.rb/issues/19

[2015-11-24 23:28] #64 closed

[2015-11-24 23:32] #56 closed

[2015-11-25 00:33] nmoller commented on #14
I'm on it.

[2015-11-25 00:34] kiramclean commented on #35
I've got this with @cawel

[2015-11-25 00:36] karimmtarek commented on #58
me and @em77 @marina101 we'll work on that one

[2015-11-25 00:38] GalkaS commented on #13
Hey, I'll try this one :)

[2015-11-25 00:40] anonyo commented on #66
hey we're working on this

[2015-11-25 00:46] nicholasjhenry commented on #66
Awesome! @anonyo just a heads up this has a dependency on #9 and #18 (you're safe with this one as the `Organization` model already exists.

[2015-11-25 00:47] GalkaS commented on #8
i'm on it!

[2015-11-25 00:48] itsWill commented on #5
hey I'm picking up this one

[2015-11-25 00:54] anonyo commented on #66
Good point @nicholasjhenry we'll start with #9 then

[2015-11-25 01:00] syed commented on #18
Working on this ....

[2015-11-25 01:11] guillaume-boutin commented on #59
Working on it (with Manon)

[2015-11-25 01:16] anonyo commented on #9
I did this one.

[2015-11-25 01:20] nicholasjhenry commented on #9
Brilliant! :party: Do you want to send a pull request for it?

[2015-11-25 01:27] VeraZab commented on #60
im working on this :)

[2015-11-25 01:43] nicholasjhenry commented on #14
Admin completed for this, thanks! We just need to display events on the site.

[2015-11-25 02:46] #59 closed

[2015-11-26 21:27] cawel commented on #35
For the MVP, I assume having some `HTML` code persisted into a db field for the page content is good enough?

[2015-11-26 21:29] nicholasjhenry commented on #35
That's fine for this pull-request. We'll look at adding Markdown across the board for all content models once they're merged in.

[2015-11-26 21:44] cawel commented on #35
Awesome :+1:

[2015-11-27 04:27] #18 closed

[2015-11-27 14:56] itsWill opened #83 "Allow the body of news items and events to be written in markdown"
It would be cool if for news items and events we could write the body in markdown to give our posts some :star: :gem: :star: :gem: :star: :gem: :star:.  Thinking we could implement this using something like [redcarpet](https://github.com/vmg/redcarpet)

[2015-11-27 17:05] karimmtarek commented on #58
I'm not sure if [that pull]( https://github.com/montrealrb/Montreal.rb/pull/75) request resolves this issue or there is more work needs to be done? please advice

[2015-11-27 21:31] sophiedeziel opened #84 "Have nice 404 and 500 pages"
The error pages should look like the other parts of the website and not be as scary as the default ones.

[2015-11-27 22:50] benichu commented on #84
:+1:

[2015-11-30 02:54] cawel commented on #83
Good idea! I believe @nicholasjhenry told me that was indeed in the pipeline. Pending the core team's approval (e.g. by tagging the issue as a 'feature'), I'd be happy to start on that one.

[2015-11-30 04:00] itsWill commented on #83
I've implemented something like this before, so let me know if you need some pointers on how to tackle this one.

[2015-12-01 01:15] benichu commented on #83
:+1:

@cawel do you want to take care of it? Also, remember that the markdown storage/display behaviour should be shared by a lot of our models (anywhere we have a `description` or `body` fields I believe, source: https://github.com/montrealrb/Montreal.rb/issues/47#issuecomment-158508238)

[2015-12-01 04:23] cawel commented on #83
@benichu Sure thing :+1:  I will start on that tomorrow Tuesday.

[2015-12-01 09:48] benichu commented on #83
Cool stuff. I invited you to the contributor's team, so you don't have to fork the repository but can directly create branches off the repository. Tell me if you need any help.

[2015-12-01 13:42] nicholasjhenry commented on #83
One additional feature on Events and NewsItems would be to include a `filter` attribute to specify if it's in `markdown` or `html`. This would help with rendering legacy content imported from Wordpress.

[2015-12-01 20:37] cawel commented on #60
@VeraZab Any progress?

The reason I'm asking is because it's somewhat related to another issue I'm working on: #83.

[2015-12-01 20:56] cawel commented on #83
@itsWill Thanks for the offer. I've been writing my own notes – on various topics – using the awesome markdown syntax for many years now. I should be good! But I'll be looking forward to hear what you have to say in a possible code review ;)

@benichu Thanks for making me a contributor :bow:

@nicholasjhenry Happy if I make your `filter` attribute an enum with 2 possibles options (`markdown` and `

[2015-12-01 20:58] nicholasjhenry commented on #83
Correct. Thank you.

[2015-12-01 22:57] benichu commented on #83
@nicholasjhenry Did you have a chance to get a copy of the current wordpress site db dump?
I am curious to know if the content could be converted to markdown when we import instead of implementing a legacy feature that could be (easily, maybe) avoided.
Or, is it a bit too optimistic? Let's have a look at that data.

cc @sophiedeziel

[2015-12-01 23:38] nicholasjhenry commented on #83
@benichu Yes, I do have a copy of the dump. Never considered converting the HTML to markdown, but if that's doable sounds like a plan. I'll share the dump with you via slack.

[2015-12-01 23:52] benichu commented on #83
@cawel I am going to look into the wordpress db dump (asap)...
In the meantime just focus that feature on displaying raw markdown content, no `filter` unless we have a hard time converting the old content to markdown.

[2015-12-02 00:04] benichu opened #88 "Fix gem dependencies as notified by gemnasium"
- [x] autoprefixer-rails
- [x] nokogiri
- [x] bootstrap-sass

[2015-12-02 00:18] #88 closed

[2015-12-02 00:25] benichu opened #91 "Heroku application failed to start after being auto-deployed by CI"
![](http://storage.thouret.com.s3.amazonaws.com/monosnap/Application_Error_2015-12-01_19-24-17.png)

Source: https://montreal-rb.herokuapp.com/

[2015-12-02 00:26] benichu commented on #91
@sophiedeziel do you have access to the logs? do you need a hand with this?

[2015-12-02 00:27] cawel commented on #83
@benichu Understood. New PR created for markdown support phase 1: #89.

[2015-12-02 00:31] nicholasjhenry commented on #83
Actually, another thought -- doesn't the markdown renderer ignore HTML anyway and passes it through?

[2015-12-02 01:02] benichu opened #92 "Setup houndci.com"

[2015-12-02 01:03] benichu commented on #92
Also add the badge

[2015-12-02 01:08] cawel commented on #83
@nicholasjhenry You are right. Per the [Markdown syntax spec](https://daringfireball.net/projects/markdown/syntax#html), `HTML` code can be inlined. I tested it to confirm that the `redcarpet` gem would indeed respect the spec, and it does. :ok_hand:

[2015-12-02 01:45] karimmtarek commented on #58
@nicholasjhenry if there are still some work needs to be done to close this I can work on that, please let me know.

[2015-12-02 02:07] cawel commented on #58
@karimmtarek PR #75 indeed allows a user to sign in/out, and even includes nice capybara specs :)

But as it stands now, nothing prevents a user *not signed in* to actually browse the admin interface (the pages under "/admin"). And I believe this is what that issue was about.

[2015-12-02 02:12] karimmtarek commented on #58
@cawel thanks for the feedback I'll work on that, should be done soon.

[2015-12-02 02:37] VeraZab commented on #60
hello, we've submitted our work after the hack night...

[2015-12-02 02:45] karimmtarek opened #93 "Jobs needs to be validated"
- A Job can be created with an empty form, validation should be added to prevent this.

[2015-12-02 02:53] karimmtarek opened #94 "Error when try to create an event with an empty form"
Below is the error I got when I tried to create an event with an empty form
<img width="1223" alt="screen shot 2015-12-01 at 9 52 40 pm" src="https://cloud.githubusercontent.com/assets/5586031/11520958/f0b91f28-9875-11e5-8bf7-01d43d8d4add.png">

[2015-12-02 03:01] sophiedeziel commented on #91
I'll have to look at it tomorrow. I'll give you access to the heroku app too. And @nicholasjhenry.

[2015-12-02 03:03] sophiedeziel commented on #94
Oh, this is database-level validation. We should shield it by having active record validations

[2015-12-02 03:04] itsWill commented on #94
this is to do with it violating the [schema](https://github.com/montrealrb/Montreal.rb/blob/master/db/schema.rb#L34). We can prevent this with validations at the model.

[2015-12-02 03:09] cawel commented on #94
Since that issue was really simple, I pushed a fix to the `master` branch directly. See [commit](https://github.com/montrealrb/Montreal.rb/commit/104bda6a34e5b6dd8957918e6c1b66bf7691a73b).

[2015-12-02 05:20] cawel commented on #94
As well as some specs for that `Event` model (see [commit](https://github.com/montrealrb/Montreal.rb/commit/b8701b6c5e0b3362390771626ee78e88da2d72f8)).

[2015-12-02 05:34] cawel commented on #60
The best would be to create a PR (pull-request) linking it back to that issue. If that sounds confusing, no worries. Let us know, and we'll find another way.

[2015-12-02 14:08] #46 closed

[2015-12-02 14:08] #47 closed

[2015-12-02 14:13] nicholasjhenry commented on #58
- [ ] authorize users to access the back-office

[2015-12-02 15:18] VeraZab commented on #60
I think that we didn't completely finish this ticket, and so didn't submit. Sorry to be blocking you. Not sure how our work and this ticket is linked... Let me know what I can do to unblock..thanks

[2015-12-02 15:20] cawel commented on #60
Not to worry @VeraZab. You are not blocking after all. No pressure :)

[2015-12-02 16:00] cawel commented on #84
Handling the `404` is easy as you can catch the `RecordNotFound` error at the `ApplicationController` level and from there render a custom page. However, for 5XX errors, a ton of errors can occur, and it would be silly to list all types of errors.

[Here](http://stackoverflow.com/questions/24235805/rails-4-how-do-i-create-a-custom-404-page-that-uses-the-asset-pipeline) is a good SO thread for a Ra

[2015-12-03 08:12] #92 closed

[2015-12-03 08:45] benichu opened #97 "What gem groups are being installed on heroku?"
Source: https://devcenter.heroku.com/articles/bundler#specifying-gems-and-groups

[2015-12-03 10:56] benichu opened #99 "Resolve old wordpress urls (slugs) to news_item#show path"
http://www.montrealrb.com/[post_date:YYYY]/[post_date:MM]/[post_name]

[2015-12-03 18:04] itsWill commented on #48
since jobs and events and news items have been done, I'll start working on this one.

[2015-12-04 00:14] nicholasjhenry commented on #48
:+1:

[2015-12-04 00:34] nicholasjhenry commented on #97
@benichu I've set the BUNDLE_WITHOUT:

[code]

[2015-12-04 00:39] benichu commented on #97
I'll do `heroku config:set BUNDLE_WITHOUT="development:test:legacy"` to avoid my special import rake task dependencies...

[code]

[2015-12-04 00:40] nicholasjhenry commented on #97
Nice. :+1:

[2015-12-04 00:43] nicholasjhenry commented on #91
Working on this now.

[2015-12-04 00:43] benichu commented on #91
Current exception:

[code]

[2015-12-04 00:43] nicholasjhenry commented on #91
Got it!

[2015-12-04 00:44] benichu commented on #91
we are like twins!

[2015-12-04 00:44] nicholasjhenry commented on #91
yip -- we share a brain ;-)

[2015-12-04 00:46] benichu commented on #91
You are the Gino Vannelli of GitHub: https://www.youtube.com/watch?v=g2-wE-J91JU

[2015-12-04 00:50] nicholasjhenry commented on #91
I'm very jealous of that hair.

[2015-12-04 00:51] #91 closed

[2015-12-04 00:51] benichu commented on #91
Everyone is.
Fun Fact, If I let my hair grow, it looks the same :haircut:

[2015-12-04 00:52] nicholasjhenry commented on #91
Do it!

[2015-12-04 00:53] benichu commented on #91
I tried several times... BIG FAIL
So I decided to focus on different hair

![](http://ecx.images-amazon.com/images/I/91cwlO3tSVL._SL1400_.jpg)

[2015-12-04 00:55] nicholasjhenry commented on #91
I won't be able to sleep tonight. :grimacing:

[2015-12-04 13:19] #97 closed

[2015-12-04 13:21] benichu opened #102 "Paginate NewsEvent on homepage"
- display most 10 recent
- add pagination menu

[2015-12-04 13:50] benichu opened #103 ""Highlight" upcoming meetup and show summarized of previous events on homepage"

[2015-12-04 15:02] cawel commented on #102
Using [kaminari](https://github.com/amatsuda/kaminari) or [will_paginate](https://github.com/mislav/will_paginate)?

[2015-12-04 15:10] benichu commented on #102
Your choice... Choose carefully ;)

[2015-12-04 15:26] benichu opened #104 "Document how we setup and interact with heroku"
Related to https://github.com/montrealrb/Montreal.rb/pull/86#issuecomment-161990965

[2015-12-04 15:29] mathieugagne commented on #102
My vote goest to kaminari

[2015-12-04 15:31] cawel commented on #102
Same here!

[2015-12-04 15:40] nicholasjhenry commented on #104
Some of this can be defined in app.json.

https://devcenter.heroku.com/articles/app-json-schema

[2015-12-04 15:42] nicholasjhenry commented on #102
@benichu Does #48 cover this requirement?

[2015-12-04 15:46] benichu commented on #104
:+1:

[2015-12-04 15:46] benichu commented on #104
I'll look into it...

[2015-12-04 15:46] cawel commented on #102
My take on it: I guess they should be 2 separate issues, but #48 should be done _before_ #102.

[2015-12-04 15:47] benichu commented on #102
:+1: @cawel

[2015-12-04 16:14] nicholasjhenry opened #105 "Add Event#state"
This allows to propose events for the future without publishing them on the site.

- state values are: (proposed, scheduled)
- consider how this affects display events on the home page body, home page sidebar, and event index.

[2015-12-04 16:17] nicholasjhenry opened #106 "Simplify Event attributes"
Can `introduction` and `conclusion` be simplified to just `description`? Any need for these two attributes?

[2015-12-04 16:23] benichu commented on #106
:+1:

[2015-12-04 16:24] itsWill commented on #105
I'll pick this one up as well since I touch it when I work on https://github.com/montrealrb/Montreal.rb/issues/48

[2015-12-04 16:24] nicholasjhenry opened #107 "Creating an `Event` fails with no location"
<img width="1111" alt="screenshot 2015-12-04 11 20 58" src="https://cloud.githubusercontent.com/assets/40253/11594702/85494320-9a79-11e5-83e8-ec22d7b13d5a.png">

[2015-12-04 16:33] nicholasjhenry commented on #106
Great -- this is open for anyone to pick up.

[2015-12-04 16:34] nicholasjhenry opened #108 "Remove `Translation IDS` from admin `Location` screen"
<img width="943" alt="screenshot 2015-12-04 11 26 43" src="https://cloud.githubusercontent.com/assets/40253/11594973/fcd1fa6c-9a7a-11e5-86d5-a7ab76d63a31.png">

[2015-12-04 16:35] nicholasjhenry opened #109 "Add presence validation to Location#name"

[2015-12-04 16:35] itsWill commented on #106
I can pick this one up as well as I work thorough https://github.com/montrealrb/Montreal.rb/issues/105

[2015-12-04 16:48] nicholasjhenry commented on #83
- [ ] I know that this is a work in progress - just a heads up it would be nice to render markdown fields in the admin. Example:

<img width="947" alt="screenshot 2015-12-04 11 47 55" src="https://cloud.githubusercontent.com/assets/40253/11595340/e2349988-9a7c-11e5-95f6-de09362f0c06.png">

[2015-12-04 16:51] nicholasjhenry opened #110 "Clean up time stamps in the admin"
Across all show views in the admin:

- [ ] add location for datetime stamps dd-mm-yy hh:dd
- [ ] move all created at/updated timestamps to the bottom of the show screen

<img width="947" alt="screenshot 2015-12-04 11 47 55" src="https://cloud.githubusercontent.com/assets/40253/11595390/558b9742-9a7d-11e5-96e1-07f05a07be4c.png">

[2015-12-04 16:54] benichu opened #111 "Setup newrelic"

[2015-12-04 16:54] nicholasjhenry commented on #14
Some outstanding tasks on this:

- [ ] render the show view
- [ ] add missing attributes to the index view
- [ ] link title on the index view

[2015-12-04 16:55] mathieugagne commented on #111
I stopped doing it because I never look at it. But since it's as simple as installing a Heroku plugin.. :+1:

[2015-12-04 16:56] benichu commented on #14
I'll take care of those tasks (on the NewsItem model) in my migration branch #42 as this is helpful for data cleanup

[2015-12-04 16:57] nicholasjhenry commented on #13
Just a heads up, there are still open tasks on this if anyone is interested.

https://github.com/montrealrb/Montreal.rb/issues/13#issue-44318215

[2015-12-04 17:11] nicholasjhenry commented on #52
This has been moved to the wiki.

[2015-12-04 17:11] #52 closed

[2015-12-04 17:13] nicholasjhenry opened #112 "Assign an organization to a job posting"

[2015-12-04 17:15] nicholasjhenry commented on #112
Duplicate of #66

[2015-12-04 17:15] #112 closed

[2015-12-04 17:16] nicholasjhenry commented on #9
Some outstanding tasks on this:

- [ ] render a jobs index
- [ ] render a jobs show

[2015-12-04 17:23] nicholasjhenry opened #114 "Remove unused admin controllers/dashboards"
Unfortunately we ended up with some generated code that we don't need for the admin (controllers/dashboard):

* companies
* meetups
* talks (future)
* users (future)
* votes

Some of these will be used in the future, but since they haven't been implemented fully we should remove them now.

Note: These were generated by executing

[code]

rather than just generating the dashboard for the specific m

[2015-12-04 17:26] anonyo commented on #9
I'm on it, I'll have a PR shortly!

[2015-12-04 17:28] nicholasjhenry commented on #5
Some outstanding tasks on this:

- [ ] add Enum for state (see Page for an example)
- [ ] link the new item from index view to show view

[2015-12-04 17:38] nicholasjhenry opened #115 "Add `published_by` to events, jobs, news"
This would assign the current user to these models

[2015-12-04 17:41] cawel commented on #115
So we add `user_id` or `member_id` to all those 3 models?
All those new fields as required (both in db and model)?

[2015-12-04 17:43] nicholasjhenry commented on #115
`user_id`

Yes, please.

[2015-12-04 17:46] nicholasjhenry commented on #18
Some outstanding tasks on this:

- [ ] link to organizations from the navigation
- [ ] link organization index view to show view
- [ ] implement image uploader for logo

[2015-12-04 17:55] nicholasjhenry commented on #35
- [ ] The outstanding task for this is to be able to link to a page via a slug. For example `pages_path("about")`

[2015-12-04 17:56] nicholasjhenry opened #117 "Add validation to news items"
body, title, state should be required.

[2015-12-04 18:04] nicholasjhenry commented on #94
thank you for handling this @cawel

[2015-12-04 18:04] #94 closed

[2015-12-04 18:18] cawel commented on #109
Done !

[2015-12-04 19:28] benichu opened #118 "Top left montreal.rb "logo" should be clickable and include official logo"
- [x] clickable
- [ ] logo

![](http://storage.thouret.com.s3.amazonaws.com/monosnap/Montreal.rb_2015-12-04_14-26-11.png)

[2015-12-04 19:29] benichu commented on #118
https://files.slack.com/files-pri/T04ND4FMG-F04ND7X9C/mtlrb-logo.png

[2015-12-04 19:29] nicholasjhenry opened #119 "Add missing DB foreign key constraints"

[2015-12-04 19:33] benichu opened #120 "Make top navigation menu(s) collapse in responsive view"
__Not__ like so:

![](https://drive.google.com/uc?id=0B6oKNuen5Mr2Yk5qVE0tdEM2V0U)

[2015-12-04 19:37] sophiedeziel opened #121 "Setup Waffle.io"
I saw a project with nice graphs in the readme file with stats on opened and closed issues for the previous 4 weeks. Eye candy, I know :wink: !
https://waffle.io/

[2015-12-04 19:37] sophiedeziel commented on #121
Here is the example : https://github.com/neovim/neovim

[2015-12-04 19:41] benichu commented on #121
as long as you don't ask me to install a google extension ;)

[2015-12-04 19:42] nicholasjhenry opened #122 "Create milestone to have site live for Meetup"
- need to determine which issues to attach

[2015-12-04 19:47] benichu commented on #122
Back to you... https://github.com/montrealrb/Montreal.rb/milestones/Site%20live%20for%20Meetup

[2015-12-04 19:47] benichu commented on #122
when you have time...

[2015-12-04 19:49] nicholasjhenry opened #123 "Add "Demo" seeds"
Similar to how the Spree project provide Demo data. This would be helpful to contributors to see their local version working with data.

[2015-12-04 19:50] nicholasjhenry opened #124 "Add requirement for new models to include "Demo" seeds to contributing guidelines"
Related #123

[2015-12-04 21:20] cawel commented on #123
No objection to leverage the `Faker` gem for the seeding?

Also, could you be a bit more specific about what you like about Spree's seeding? Do you mean:

* the [encapsulation into a gem](https://github.com/spree/spree/tree/3-0-stable/sample)?
* the loading of [separate model-specific files](https://github.com/spree/spree/blob/3-0-stable/sample/lib/spree_sample.rb)?

Something else?

[2015-12-05 12:55] benichu opened #126 "Automatically display gravatar of news_item#creator when showing on website"

[2015-12-05 12:57] benichu opened #127 "Automatically display gravatar of talk#presenter when displaying on website"

[2015-12-05 12:58] benichu commented on #127
related to #126

[2015-12-05 13:12] mathieugagne commented on #127
Would a simple helper method that takes the email as an input work? I don't see the need for yet another gem.

[2015-12-05 13:12] mathieugagne commented on #127
What do you refer to when you say "Automatically"?

[2015-12-05 13:14] benichu commented on #127
Meaning that when we define the "member" assigned to a "talk" as a "presenter", the system should use that "member's email" to automatically display the avatar next to the talk on the website

[2015-12-05 13:15] benichu commented on #127
@mathieugagne I was not mentioning any gems ;)

[2015-12-05 13:17] benichu commented on #127
and we should not have to add an email field if we apply this: https://github.com/montrealrb/Montreal.rb/wiki/Domain-Model

[2015-12-05 14:23] mathieugagne opened #128 "Remove `enumerize` gem"
### Open for discussion

Is there any advantages to using the `enumerize` gem instead of `ActiveRecord::Enum`?

[http://api.rubyonrails.org/classes/ActiveRecord/Enum.html](http://api.rubyonrails.org/classes/ActiveRecord/Enum.html)

I traced the inclusion of `enumerize` to this commit: 2215ebc49f1251f82f6be14d1b946ff483477e69

I would suggest we remove `enumerize` in favor of `ActiveRecord::Enum`

[2015-12-05 14:43] benichu commented on #128
I would add that storing enum values as string instead as integer, it's pretty useful when you have to read/import data at a later stage, without the code as business logic... But that's coming from someone who just had to import our old wordpress posts, and appreciated `post_status = 'published'` vs `post_status = 1`

[2015-12-05 14:50] mathieugagne commented on #128
@benichu Good point :+1:

Hopefully we won't have to do that again

[2015-12-05 15:08] mathieugagne commented on #118
- This logo is in English only.
- It has a solid white background.
- The red of the logo doesn't play well with the pinkish-red header background. We would need to change one of the 2 (logo or background-color)

[2015-12-05 15:16] benichu commented on #118
@mathieugagne where can we go to the source?
Found that in slack :(

[2015-12-05 15:34] mathieugagne commented on #118
@vivrass Do you have the source file? Do we know who designed this logo?

[2015-12-05 15:52] mathieugagne commented on #118
Oh crap! I'm so sorry @mdeloupy I just saw this was assigned to you. My bad. I'll leave all the logo stuff up to you

[2015-12-05 16:33] vivrass commented on #118
@mathieugagne   I put them on Slack

[2015-12-05 16:36] benichu commented on #118
[2015_12_05_montreal.rb logos.zip](https://github.com/montrealrb/Montreal.rb/files/52882/2015_12_05_montreal.rb.logos.zip)

[2015-12-05 17:11] benichu opened #131 "Discuss what code styling rule should be enforced to limit houndci warnings to important things"

[2015-12-05 17:12] benichu commented on #131
cc @montrealrb/organizers

[2015-12-05 18:31] benichu commented on #111
@mathieugagne please assign an issue to yourself before working on it. especially since someone else was already assigned to it :smile:

[2015-12-05 18:36] mathieugagne commented on #111
Hahaha I thought I was already assigned to this one. Clearly this assignment thing is a problem for me.

[2015-12-05 18:37] benichu commented on #103
waiting for #42 to be merged before tackling this

[2015-12-05 18:55] benichu opened #132 "Cleanup imported and marked as published, wordpress markdown news_items#description"
depends on #98 and #95 being closed/merged to master

[2015-12-05 18:56] benichu opened #133 "Cleanup imported and marked as archived, wordpress news_items"

[2015-12-05 18:56] benichu commented on #133
depends on #132 being closed

[2015-12-05 20:20] cawel commented on #35
Since [we agreed](https://github.com/montrealrb/Montreal.rb/pull/85) that we would *not* use the [friendly_id gem](https://github.com/norman/friendly_id) for now, I don't see how this can be possible (without overloading something like the `url_for` method), unless you know the page id, e.g. `page_path('1-about')`.

I see a few options:

* Accept to use `page_path('1-about')`
* Add a method in the

[2015-12-05 21:58] cawel commented on #128
I feel I have to jump in here because I was among those who agreed with @benichu that we should use the `enumerize` gem. However, I learnt later that [`enum`](http://api.rubyonrails.org/classes/ActiveRecord/Enum.html) was actually [part of rails since 4.1.0](https://robots.thoughtbot.com/whats-new-in-edge-rails-active-record-enum). And along the years, I have learnt to refrain from using gems whic

[2015-12-05 22:26] cawel commented on #108
Done ! PR #107 created.

[2015-12-05 23:06] mathieugagne commented on #128
@cawel helper method might not be needed. Would have to test but I'd guess they'd be a convention for activerecord attributes with regards to I18n keys.

That being said, I don't see where on the website would we advertise the state of our jobs/articles. IMO they're very backend attributes and won't even need translation.

You're meme is fantastic! We should reuse it whenever new gens reappear lol

[2015-12-05 23:40] mathieugagne commented on #131
Damn quotes.. I like having the same quotes all around but it _is_ somehow a little bit painful.

[2015-12-06 00:04] #108 closed

[2015-12-06 00:45] AndyObtiva commented on #128
@cawel I like how you've taken up a nighttime acting job. When is that movie coming out? I bet its mention of gems would rival any mention of rings in LOTR. :) :+1:

And yes, enums are now part of Rails, so :+1: indeed.

p.s. BTW, enums in any shape or form can be internationalized by feeding their values to I18n.t (though I'm probably being redundant as that was mentioned already).

[2015-12-06 00:54] #111 closed

[2015-12-06 02:29] #58 closed

[2015-12-06 02:53] karimmtarek commented on #5
I'll work on the outstanding tasks.

[2015-12-06 02:58] benichu commented on #5
I think this issue is completed

[2015-12-06 03:00] karimmtarek commented on #5
ooops my bad, should it be closed?

[2015-12-06 03:02] benichu commented on #5
Closed

[2015-12-06 11:19] benichu commented on #131
should we activate this: https://github.com/montrealrb/Montreal.rb/blob/master/.ruby-style.yml#L39-L41

[2015-12-06 11:23] benichu commented on #131
remove this warning: ![](http://storage.thouret.com.s3.amazonaws.com/monosnap/chore_Fixes_42_-_Import_old_wordpress_data_and_convert_to_markdown_by_benichu__Pull_Request_98__montrealrbMontreal.rb_2015-12-06_06-22-06.png)

I am all for limiting line length, but can we have a bit of slack.

[2015-12-06 11:51] benichu commented on #131
Added rubocop to run checks locally and experimenting with removing double-quotes enforcing :disappointed: and longer line length :smile:

https://github.com/montrealrb/Montreal.rb/blob/master/.rubocop.yml

[2015-12-06 12:17] benichu opened #140 "Travisci/Heroku errors when processing master branch"
[code]

[2015-12-06 21:30] #120 closed

[2015-12-07 15:38] itsWill commented on #105
will wait till https://github.com/montrealrb/Montreal.rb/issues/128 is resolved to finish up this one

[2015-12-07 16:12] karimmtarek commented on #60
I'm on it

[2015-12-07 18:40] mathieugagne commented on #127
related to #60

[2015-12-07 19:25] itsWill opened #142 "Implement level when displaying talks"
It would be useful if talks could have a level associated with them a la [seattle.rb](http://www.seattlerb.org/talks) like beginner, intermediate, and advanced. We could easily implement this using an enum.

[2015-12-07 21:45] cawel commented on #142
Good idea! And it's been planned already, as you can see with the `level` field in the `Talk` model in the [object model diagram](https://github.com/montrealrb/Montreal.rb/issues/47#issuecomment-158508238) :)

We could consider that issue as the actual task to implement it though.

[2015-12-07 21:50] itsWill commented on #142
whoops totally missed that edited to reflect that

[2015-12-08 03:39] karimmtarek opened #143 "Keep track of runtime errors on production (and get notified)"
There are lots of services doing this, and I'm not sure if we are using any service for that.
So in case we are not using any service, I wanted to suggest [Bugsnag](https://bugsnag.com/features) I'm using it for one of my personal projects, it dose the job and it's [free for open source projects](https://bugsnag.com/blog/bugsnag-loves-open-source) :)

[2015-12-08 10:50] benichu commented on #143
you read my mind :)
let's try bugsnag, I'll set it up soon.

[2015-12-08 11:13] #143 closed

[2015-12-08 13:11] benichu opened #145 "ExampleException in home#example"
## New exception in Example.com

**ExampleException** in **home#example**
Something really bad happened

[View on Bugsnag](http://bugsnag.com/errors/example/events/example)

## Stacktrace

    app/controllers/home_controller.rb:123 - example
    app/controllers/other_controller.rb:12 - broken
    lib/important/magic.rb:4 - load_something

[View full stacktrace](http://bugsnag.com/errors/example/ev

[2015-12-08 13:11] #145 closed

[2015-12-08 13:15] benichu opened #146 "ActionView::Template::Error in admin/events#index"
## Exception in Montreal.rb

**ActionView::Template::Error** in **admin/events#index**
undefined method &#x60;to_model&#x27; for #&lt;TBALocation:0x007f23890dfe90&gt;

[View on Bugsnag](https://bugsnag.com/montreal-dot-rb/montreal-dot-rb/errors/5666d7a38f2356495b6f5c68?event_id=5666d7a3adfc32c514eea19e)

## Stacktrace

    vendor/bundle/ruby/2.2.0/gems/actionpack-4.2.5/lib/action_dispatch/routing/

[2015-12-08 15:21] karimmtarek opened #147 "NoMethodError in Admin::Events#index"
I got that error while creating an event, without having a location in the db, so I went back and created a location, and tried to create an events but as you can see...

![screen shot 2015-12-08 at 9 56 45 am](https://cloud.githubusercontent.com/assets/5586031/11658726/15ff0650-9d92-11e5-9283-8f9ff6bd396f.png)

[2015-12-08 17:14] itsWill commented on #146
I think we should remove the `TBALocation` class an just have a nil value represent a TBA location.  This not only fixes the above issue, but I also don't think modeling a TBA location as class is the best way to do this, it would be better modeled as a entry in our database, that could be selected in the admin as in the picture: ![screen shot 2015-12-08 at 12 12 01 pm](https://cloud.githubusercon

[2015-12-08 17:17] itsWill commented on #147
related to: https://github.com/montrealrb/Montreal.rb/issues/146

[2015-12-08 17:25] itsWill commented on #146
previous discussion [here](https://github.com/montrealrb/Montreal.rb/pull/116#discussion_r46749166)

[2015-12-09 01:31] benichu commented on #118
@mdeloupy can you attach the screenshot with the logo that you showed me?
Just to document that it does not look good.

[2015-12-09 01:53] benichu commented on #140
does not seem to prevent automatic deploy to heroku... wait and see.

[2015-12-09 01:54] benichu commented on #147
duplicate to #146

[2015-12-09 01:54] #147 closed

[2015-12-09 03:09] karimmtarek commented on #60
This bug #146 prevented me from creating new events from the admin UI, so I had to to remove `TBALocation.new` from the `location` method in the Event.rb, to be able to work with events and move on with the task at hand

[2015-12-09 04:11] karimmtarek commented on #128
@montrealrb/contributors so what it is the final decision? I'm working on this #60 and I've couple of things needs to be Enum, so should I go with the gem? or Rails's Enum, put in mind if used Rails's Enum then each element needs to be an integer and maps to a string I think, if that will upset @benichu :) what about using [this](https://gist.github.com/alexch/a7be54e1b085718473ff)?

[2015-12-09 13:06] karimmtarek commented on #60
@nicholasjhenry according to the [domain model](https://github.com/montrealrb/Montreal.rb/wiki/Domain-Model) the association between members and talks are M:M? is that correct? if that's the case what is more preferable using HMABT to has_many through?
One more thing in the `talk_dashboard.rb` there is votes and author while in the domain model those are not mentioned can you please clarify, thank

[2015-12-09 14:20] benichu opened #149 "Prepare Website MVP UI for launch"

[2015-12-09 21:44] #109 closed

[2015-12-09 21:51] cawel commented on #107
This is waiting on #116 to be resolved.

[2015-12-10 00:27] benichu opened #151 "When we resolve a news_item from it's old wordpress slug, we should probably do a `301 Moved Permanently` to the new path instead of just rendering"
Ex:
- User clicks on `http://www.montrealrb.com/2015/11/so-long-and-thanks-for-all-the-fish/` in a google result page
- `news_items_controller#show` shoud redirect to `/news_items/230-so-long-and`

We should probably decide on a better path structure...

[2015-12-10 04:36] sophiedeziel commented on #107
#116 is merged

[2015-12-10 04:36] #107 closed

[2015-12-10 05:39] sophiedeziel commented on #146
The TBALocation has been removed with https://github.com/montrealrb/Montreal.rb/pull/116

[2015-12-10 05:39] #146 closed

[2015-12-10 12:11] #42 closed

[2015-12-10 12:14] #99 closed

[2015-12-10 12:15] nicholasjhenry commented on #123
No at all.

might be overkill for our project

yes. Demo seeds would be loaded when the `DEMO=1` is set. It could be as simple as this:

[code]

[2015-12-10 12:18] nicholasjhenry commented on #103
Is this requirement not met with #59?

[2015-12-10 12:31] nicholasjhenry commented on #35
Could we not add a `slug` (required) attribute to page that the admin specifies?

[2015-12-10 12:46] nicholasjhenry commented on #5
Opening this again as there our outstanding tasks:

https://github.com/montrealrb/Montreal.rb/issues/5#issuecomment-162028838

(please verify that the outstanding tasks in the checklist have been completed before closing)

[2015-12-10 12:53] nicholasjhenry commented on #131
Here's the current config I'm using on my current project. Basically we disabled everything and enabled things when we saw a style violation that we thought was important. This seemed like a better way to go than just enabling everything by default. Some preferences that get my vote:

1. Double Quotes
2. Longer line length ~100

https://gist.github.com/nicholasjhenry/5415cee34c9005a2a63d

[2015-12-11 00:32] nicholasjhenry commented on #128
@cawel Just wanted to let you know I'm having a giggle at this considering our discussion regarding `friendly_id` ;-)

https://github.com/montrealrb/Montreal.rb/issues/128#issuecomment-162250720

[2015-12-11 00:45] nicholasjhenry commented on #128
Thanks for this discussion -- I'm in favour of keeping `enumerize` for now mainly for the explicitness -- not having to make a translation between integers.

[2015-12-11 00:45] #128 closed

[2015-12-11 01:01] nicholasjhenry commented on #60
Let's keep it simple -- while a talk in very rare occasions maybe presented by two folks, we'll deal with that in the future. I've updated the domain model to show a talk is only presented by one member.

The `talk_dashboard.rb` was generated using an old schema: https://github.com/montrealrb/Montreal.rb/issues/114

These need to be deleted, they should have never been merged into master -- so ple

[2015-12-11 01:13] cawel commented on #35
@nicholasjhenry We could, but then we'd need to write some custom "resource lookup code" in the controller.

Using a dedicated db field to manage what is shown in the url is the implementation solution from the `friendly_id` gem. So maybe we reached the point where we should bring in that gem?

[2015-12-11 01:21] #149 closed

[2015-12-11 01:28] benichu opened #153 "Footer links are not linked to anything"

[2015-12-11 01:31] benichu opened #154 "Signing in with github does not seem to be working, any missing configurations?"

[2015-12-11 01:40] nicholasjhenry commented on #35
Do you mean?:

[code]

[2015-12-11 01:45] nicholasjhenry opened #155 "Remove sign-up and login links"
There's aren't very useful to non-admins right now. Thoughts?

[2015-12-11 01:48] nicholasjhenry commented on #154
GITHUB_KEY
GITHUB_SECRET

It's been a while since I've done this. Probably need to register an OAuth app:

https://github.com/organizations/montrealrb/settings/applications/new

[2015-12-11 01:49] benichu commented on #155
But it looks so professional!
But seriously, we can keep the "login" links and remove the "signup" link until we have a proper "onboarding" for signups.
It will also allow us to postpone looking into #154

[2015-12-11 01:50] benichu commented on #154
`GITHUB_KEY` and `GITHUB_SECRET` are set as Heroku ENV variables, I don't who did it and if they are valid...

[2015-12-11 01:52] cawel commented on #35
Yes. To me, that looks like a lesser solution than what the `friendly_id` gem does. E.g. what if that `slug` field contains invalid characters?

To compare, the `friendly_id` way is:

[code]

[2015-12-11 01:53] nicholasjhenry commented on #154
@sophiedeziel did yesterday.

[2015-12-11 01:54] nicholasjhenry commented on #35
Feel free to submit a PR :-)

[2015-12-11 02:01] benichu commented on #35
I would personally consider using `friendly_id` if only for that feature: http://norman.github.io/friendly_id/FriendlyId/History.html

[2015-12-11 02:03] cawel commented on #35
@benichu Hum. Should we interpret that comment as a vote to bring it on right about now, or rather later on down the road? ;)

[2015-12-11 02:05] karimmtarek commented on #60
@nicholasjhenry thanks for the clarification :+1:

[2015-12-11 02:06] benichu commented on #35
I vote to bring it in now. :+1:
Especially since it will probably help us clearing up the temporary hack I did when importing the old wordpress posts: https://github.com/montrealrb/Montreal.rb/blob/master/app/controllers/news_items_controller.rb#L6-L16

[2015-12-11 02:07] nicholasjhenry commented on #35
Bring it!

[2015-12-11 02:38] karimmtarek commented on #153
I can fix that, just need the missing links
- https://twitter.com/montrealrb
- facebook?
- google+?

[2015-12-11 03:11] karimmtarek commented on #60
@montrealrb/contributors Should the talk only be shown with the events or is it going to have it's own index page?

[2015-12-11 18:11] sophiedeziel commented on #154
Yes I did :)

For your own development machine, you should create your own github app to have the callback url set to `localhost:your_port` and set the env vars. I created an app specially for our heroku instance and I have to remember changing the callback url when we point montrealrb.com to it.

[2015-12-11 23:51] em77 commented on #154
@benichu, were you able to get it working?

[2015-12-12 14:53] #155 closed

[2015-12-12 14:55] #153 closed

[2015-12-12 14:58] #83 closed

[2015-12-12 14:58] benichu opened #160 "It would be nice to render markdown fields in the admin"
<img width="947" alt="screenshot 2015-12-04 11 47 55" src="https://cloud.githubusercontent.com/assets/40253/11595340/e2349988-9a7c-11e5-95f6-de09362f0c06.png">

[2015-12-12 14:59] benichu commented on #160
follow-up to #83

[2015-12-12 15:11] benichu commented on #154
@em77 Will try again after the site "launch", until then we have desactivated the signup (just removed the link actually)

[2015-12-12 15:12] benichu commented on #132
reduced the number of posts to display at launch and cleaned them up.

[2015-12-12 15:12] #132 closed

[2015-12-12 15:14] benichu opened #161 "Redirect montrealrb.com to the new heroku app"

[2015-12-12 23:15] #122 closed

[2015-12-13 00:51] #12 closed

[2015-12-13 00:52] #15 closed

[2015-12-13 00:52] #17 closed

[2015-12-14 14:47] #131 closed

[2015-12-14 15:37] benichu opened #165 "Heroku deploy migration error"
[code]

Source: https://travis-ci.org/montrealrb/Montreal.rb/builds/96755199#L641

[2015-12-14 16:07] cawel commented on #165
I am surprised to see that there are locations already in prod db. Couldn't we just delete them and re-run the migrations again?

[2015-12-14 16:08] benichu commented on #165
I think it was a old admin test... I'll take care of it tonight and redeploy...

[2015-12-14 16:11] benichu commented on #165
My biggest problem is that I found out about the migration error by randomly drilling down travis-ci log...
Also related to this #140 - travis/heroku

[2015-12-14 16:20] cawel commented on #165
Maybe TravisCI is configured to only notify Slack when "all is well", and do nothing if the deploy failed?

As for the issue at hand, removing all location rows from db should fix it.

[2015-12-14 16:49] karimmtarek opened #166 "Let's talk about 'Members'"
I'm working on this #148 and according to the [Domain-Model](https://github.com/montrealrb/Montreal.rb/wiki/Domain-Model) each member has_many talks, I still can't figure out:
- What's a member?
- Why is it different than a user?
- Do we really need it? or adding a enum field to the user model with different types `[:member, :admin, :guest, :whatever]` can do the trick?

[2015-12-14 17:41] benichu commented on #166
I'll give you my point of view later today, if that's Ok :)
But anyone is free to chime in anytime...

[2015-12-14 17:53] karimmtarek commented on #166
@benichu sure :) I'm looking forward to it.

[2015-12-14 19:53] cawel commented on #166
Here are a few hints, from what I understood:

* The purpose of a `User` is to be able to log in.
* A `Member` cannot log in (if it is not associated with a `User`, i.e. `member.user_id = nil`).
* A `Member` refers to a person in reality, e.g. the talk "What's new in Rails 5" could be given by "Donald Henry Howard" (aka DHH ;) ), and that person would be represented as a `Member` entity in db. "Do

[2015-12-14 22:08] benichu commented on #166
I agree 100% with @cawel

I would just add:
- `Member` is a facet of real people interacting with our website's business domain, we could, later on, decide to implement other facets...
- `User` seems to implicitly refer to people, but because the responsibility of that class is to deal with authentication and authorization, it could also be referring to non-human users (like an external API client

[2015-12-15 00:09] benichu commented on #165
removes the event with a nil location, ran migration, all is good.
I am still not very confident about the travis-ci + heroku deploy process, maybe my expectations are wrong:

1. merge code to master
2. build pass at Travis
3. code is deployed to heroku, migrations run if any
4. if any of the deploy tasks fail, keep the previous application release, and notify admins

Not this:

![](http://storage

[2015-12-15 00:09] #165 closed

[2015-12-15 00:41] benichu commented on #161
@sophiedeziel do you want to postpone doing the redirect?

[2015-12-15 01:03] cawel commented on #165
Thanks for the screenshot. Indeed, it does not look like a failure.

And as you said, the deploy process is currently not optimal.

[2015-12-15 02:25] karimmtarek commented on #166
@cawel @benichu Thanks for taking the time to explain this :+1: I really appreciate it.

[2015-12-15 03:06] karimmtarek commented on #142
Related to #60 and I'm already on it.

[2015-12-15 03:06] #142 closed

[2015-12-15 22:54] cawel commented on #166
@karimmtarek Since you're the one who opened this issue in the first place, feel free to close it if you feel satisfied :)

[2015-12-16 03:41] karimmtarek commented on #166
I feel satisfied :+1:

[2015-12-16 03:41] #166 closed

[2015-12-17 15:11] karimmtarek opened #168 "Status of the project"
I'm kind of curious about the status of the project, like:
- Who is maintaining it?
- How long it is going to take to review a PR?

I'm asking because I've a PR waiting to get reviewed for few days now, and I'm really eager to get it merged, so I can move on to the next story/task.

I know that all of us have day jobs and time is really in a short supply :) I just want to know so I can manage my o

[2015-12-17 15:40] benichu commented on #168
@karimmtarek Sorry about that, and thank you for starting the discussion.
As I mentioned to @cawel, @sophiedeziel, @mathieugagne and @nicholasjhenry last tuesday during the meetup, we are fully aware of this, and are currently working on a clear plan for both montreal.rb as an organization and any underlying projects such as the website...
I will share a preliminary plan with all of you before the

[2015-12-17 15:40] benichu commented on #161
moving to next milestone...

[2015-12-17 15:52] karimmtarek commented on #168
@benichu thanks so much for getting back :+1:
Please feel free to close this, or leave it open in case someone else wants to discuss, it's your call :)

[2015-12-17 15:53] benichu commented on #168
I will definitely leave this open until I come back, as promised, with a complete response.

[2015-12-17 15:54] benichu commented on #168
I also discussed this with @mdeloupy last Tuesday :smile:

[2015-12-17 15:57] karimmtarek commented on #168
Although I was in the meetup Tuesday it looks like I missed some really interesting discussions :cry:

[2015-12-17 15:59] benichu commented on #168
How did I miss you!??? Next time come up to me, If I don't...

[2015-12-17 16:07] karimmtarek commented on #168
@benichu next time I will :+1:

[2016-02-21 04:01] steakunderscore commented on #102
I have put a patch up for this, but it doesn't include merging the events and news. So for now I won't make a PR. https://github.com/steakunderscore/Montreal.rb/commit/6b831e36cf14746d1633886aaa186473bd088859

[2016-02-22 01:36] steakunderscore commented on #123
I'm not completely clear as to what the `demo` seeds would be used for. I have added a bunch of seeds to get me started with development on the project. See my PR #175.

If you are able to give me some guidance I would be happy to change/fix anything.

[2016-02-24 04:57] steakunderscore commented on #168
Just bumping the above question. What's the state of this project? I'm happy to do some work on it over the next couple of weeks, but would need some guidance.

[2016-02-24 13:16] mathieugagne commented on #168
Christmas time being what it is, it seems we haven't renewed our efforts as much in the new year. The project is definitely on and the organization is strong.
I'll do my best to give the necessary guidance. @benichu @cawel @mdeloupy @garyharan @sophiedeziel @nicholasjhenry Please jump in whenever you think I'm delusional.

@steakunderscore I'm keen to have a quick hangout if you'd think it necessa

[2016-02-24 13:55] mathieugagne opened #176 "Build error on Travis CI at deployment"
Travis CI is complaining at deployment time.

[https://travis-ci.org/montrealrb/Montreal.rb](https://travis-ci.org/montrealrb/Montreal.rb)

This seems to be the culprit:
`InlineSvg::Configuration::Invalid: Asset Finder should implement the #find_asset method`

We can most likely reproduce by deploying straight to Heroku.

[code]

[2016-02-24 19:53] steakunderscore commented on #123
Can this be closed now?

[2016-02-24 19:59] #123 closed

[2016-02-29 00:51] steakunderscore commented on #176
[See this PR](https://github.com/thoughtbot/administrate/pull/365) on the administrate gem.

[2016-02-29 01:02] steakunderscore commented on #176
Added patch for this: [pull#182](pull#182)

[2016-03-02 04:23] steakunderscore commented on #168
Is anyone keen to get things project moving again? Can I get some code reviewed?

[2016-03-02 14:15] mathieugagne commented on #168
I've done a few this morning and will carry on later today. Sorry about the delay. We all really appreciate your work and hope to keep the ball rolling for you

[2016-03-03 16:34] sophiedeziel commented on #168
Thank you @mathieugagne for what you have done this week.

I will spend some time tonight as well. I hope I can work on it this weekend too!

[2016-03-03 16:36] mathieugagne commented on #168
Thanks to @steakunderscore ! I'm just the supervisor on the side looking at the real working guy, nodding my head in approval at what he does. But thanks :)

[2016-03-04 03:30] steakunderscore commented on #176
This can be closed now.

[2016-03-04 03:30] steakunderscore commented on #161
Done, can be closed now.

[2016-03-04 03:35] #161 closed

[2016-03-04 03:35] #176 closed

[2016-03-05 16:41] #117 closed

[2016-03-05 17:23] #140 closed

[2016-03-05 21:50] #35 closed

[2016-03-05 22:11] #115 closed

[2016-03-07 21:57] #121 closed

[2016-03-07 22:01] sophiedeziel commented on #133
@benichu Can you give me a quick reminder or a small description of that issue?

[2016-03-07 22:04] sophiedeziel commented on #154
It is working in prod, is it still an issue, @benichu?

[2016-03-07 22:10] benichu commented on #154
Maybe it's because I already have an account with my github email.
When I try to "Sign in with github", I am redirected to github, I can login to github, then I am redirected back to the montreal.rb signup page, and it asks me for an email and password/password_confirmation after submitting it proceeds to tell me that my "email has already been taken"...

Are my expectations wrong? Should it be no

[2016-03-07 22:15] sophiedeziel commented on #154
Oh, your expectations are not wrong. I would also want my existing account to be linked to the github oauth mechanism. I'll investigate a little to see if it's a config thing...

[2016-03-07 22:16] benichu commented on #154
Thanks @sophiedeziel !

[2016-03-07 22:54] sophiedeziel commented on #154
https://github.com/intridea/omniauth/wiki/Managing-Multiple-Providers

That would be part of the solution because it links the identity to the user instead of both being the same object. What we would do is to "find_or_create" the user wit the email when the identity is not found.

<img width="495" alt="screen shot 2016-03-07 at 5 53 26 pm" src="https://cloud.githubusercontent.com/assets/1037105/1

[2016-03-07 23:57] #110 closed

[2016-03-08 00:28] #5 closed

[2016-03-08 01:50] #105 closed

[2016-03-08 02:35] sophiedeziel commented on #8
#74 solves it

[2016-03-08 20:22] sophiedeziel opened #194 "Job linter"
In the admin panel, on the `show` of a job, I want to see results of https://github.com/rowanmanning/joblint.

There is a client-side version of it that we can be included.

[2016-03-09 22:54] sophiedeziel commented on #168
I've been pretty active in the past week. Here is a summary of what I have done so far:

- I reviewed and merged the "easiest" pull-requests to handle
- I shut down the old wordpress site and put this one into production!! :tada:
- I cleaned up opened issues that have been solved by merged pull-request (thanks to @steakunderscore for pointing some to me)
- I created a `priority` label to help focu

[2016-03-10 01:30] #106 closed

[2016-03-10 01:31] #14 closed

[2016-03-10 01:32] #114 closed

[2016-03-10 01:32] #60 closed

[2016-03-10 03:56] #93 closed

[2016-03-10 04:21] sophiedeziel opened #198 "Display a member's list of published gems on its profile"
- [ ] Add the option for a member to submit it's rubygem handle
- [ ] Fetch the data from rubygems
- [ ] Display it nicely on its profile

I found that endpoint:
`https://rubygems.org/api/v1/owners/sophiedeziel/gems.json`

[2016-03-11 17:03] #13 closed

[2016-03-11 17:03] #160 closed

[2016-03-11 18:20] sophiedeziel commented on #61
Dependent on #74

[2016-03-11 18:20] #63 closed

[2016-03-16 16:05] sophiedeziel opened #199 "Render emojis"
Here is a tool we can use:
https://github.com/github/gemoji

There are plenty of other tools we can use

[2016-03-17 14:36] sophiedeziel opened #200 "The link in the header to the admin area should open in a new tab"

[2016-03-17 21:38] steakunderscore commented on #19
I'll take a look at this.

[2016-03-17 21:44] #8 closed

[2016-03-18 01:46] #168 closed

[2016-03-18 01:51] sophiedeziel opened #203 "An admin should be able to set another user as an admin"

[2016-03-18 02:26] sophiedeziel opened #204 "Update outdated gems"
- [x] bugsnag (newest 4.0.0, installed 3.0.0) in group "default"
- [x] cloudinary (newest 1.1.3, installed 1.1.2) in group "default"
- [x] jquery-rails (newest 4.1.1, installed 4.1.0) in group "default"
- [x] rubocop (newest 0.38.0, installed 0.37.2) in groups "development, test"

[2016-03-19 12:57] sophiedeziel opened #206 "Tweet automatically when a news_item is published"
Tweet the following:
- [ ] The title
- [ ] The link

[2016-03-19 13:02] sophiedeziel opened #207 "Prepare the app for twitter"
In order to implement some twitter features, we need to:

- [x] Create a Twitter app
- [x] Install the twitter gem
- [x] Define environment variables
- [x] Set environment variables on Heroku
- [x] Add config instructions for dev in the Readme file

[2016-03-19 13:02] sophiedeziel commented on #206
Dependent on #207

[2016-03-19 13:03] sophiedeziel commented on #16
Dependent on #207

[2016-03-19 13:05] sophiedeziel opened #208 "Tweet automatically when an event is scheduled"
Tweet the following:
- [x] The title
- [x] The url to the event

Dependent on #207

[2016-03-19 13:13] kiramclean commented on #103
I can do this. What about news items.. sidebar?

[2016-03-19 13:16] sophiedeziel commented on #103
We used to have them in the sidebar. You are free to experiment and try other solutions.

[2016-03-19 13:16] kiramclean commented on #103
Just noticed we have an orphan `Meetup` model.. are all meetups now `Event`s?

[2016-03-19 13:18] kiramclean commented on #103
Or maybe it's meant to be an option when creating an event..

[2016-03-19 13:19] sophiedeziel commented on #103
Hmmmm Right now, the only events we got are meetups. That could be useful in the future when we'll have other kinds of events (workshops, railsbridge, hackathons, etc...)

Lets use the `Event` model for now because there is nothing in the admin to manage (and publish) meetups

[2016-03-19 13:20] kiramclean commented on #103
Great!

[2016-03-19 13:29] #61 closed

[2016-03-20 13:53] kiramclean commented on #127
I can do this one.. I know it's not priority, but images are not being displayed properly for talk presenters right now and this will it pretty easily.

[2016-03-20 18:32] kiramclean opened #211 "Bug: Cannot delete events that have talks"
To reproduce:
- create a talk, assign it to an event
- delete that event from administrate dashboard

Gives you
`ActiveRecord::InvalidForeignKey in Admin::EventsController#destroy`
`PG::ForeignKeyViolation: ERROR: update or delete on table "events" violates foreign key constraint`

You have to manually remove the talk from the event first before destroying an event. Is this intended behaviour?

[2016-03-21 00:06] #204 closed

[2016-03-28 23:45] sophiedeziel commented on #211
It's a good thing that error pops out. We would have talks linked to non-existant events.

There are multiple solutions:
- catch the error and display a nice message so the admin have to manually remove the talks
- unlink the talk automatically without asking
- asking confirmation before deleting the event and unlink the talk.
- delete would not delete the record but "archive" it.

There is also s

[2016-03-28 23:50] sophiedeziel opened #212 "Have a contact book for admins"
In order to share contacts infos and notes easily between admins, organizers and other volunteers, user with admin rights should be able to see in the admin section a "contacts" dashboard.

Those shared infos will be useful when someone organizes an event. We will be able to se easily who we have to contact to book a venue, to arrange sponsorship or any other useful infos.

A contact will hold tho

[2016-03-29 00:14] mathieugagne commented on #211
I'm all in on non-delete but simply un-publish instead. It leaves a nice paper trail of would-have-been events.

Does it make sense for a talk not to be featured at an event?

[2016-03-29 13:46] sophiedeziel commented on #211
Non-delete for the win!

@mathieugagne what do you mean? Technically, it seem easy, but I can't think of a use case. Have something in mind?

[2016-03-31 03:14] mathieugagne commented on #211
I meant that soft-delete is nice and all when you have a case for a record to be resurrected. But if you can't have a talk without an event, then perhaps deleting the event should simply delete the talk.

On the unpublish part, I meant instead of having `acts_as_paranoid`-type solution, we could simply have states. Delete is hard delete. The other posts are unpublished if you wish to keep it but n

[2016-03-31 14:44] sophiedeziel commented on #211
I agree with you @mathieugagne, you have good points. I guess the simplest solution is the best.

Then, we can hard-delete, buuuuut only on "unpublished" and when there is no talk associated to it. Most mistakes will be avoided, harmless and data stays clean.

Having talks without events can be useful when planning. Those are "proposed", they might be incomplete, or maybe they will be submitted by

[2016-04-05 06:00] #127 closed

[2016-04-05 06:01] #45 closed

[2016-04-05 06:02] #9 closed

[2016-04-05 06:04] sophiedeziel commented on #48
We have
- [x] News Items
- [x] Events
- [ ] Job postings

[2016-04-05 06:05] #103 closed

[2016-04-05 06:08] sophiedeziel commented on #126
We are storing the user_id already. It's a low hanging fruit.

[2016-04-05 06:14] sophiedeziel opened #213 "Update gems"
- [x] #217
- [x] autoprefixer-rails (newest 6.3.6, installed 6.3.3.1, requested ~> 6.3) in group "default"
- [x] carrierwave (newest 0.11.0, installed 0.10.0) in group "default"
- [x] cloudinary (newest 1.1.4, installed 1.1.3) in group "default"
- [x] guard-rspec (newest 4.6.5, installed 4.6.4) in groups "development, test"
- [x] newrelic_rpm (newest 3.15.1.316, installed 3.15.0.314) in group "pro

[2016-04-05 14:26] sophiedeziel opened #214 "Define css styling for the sidebar"
Markdown is rendered in the news items and the titles are too big. Some other tags are not displayed very nicely, like lists and quotes.

Defining the style sheet specific to the sidebar would be nice.

[2016-04-05 20:20] sophiedeziel opened #215 "Display a talk's level on the events page (and home page)"

[2016-04-06 15:00] sophiedeziel opened #217 "Update Administrate"
There is a security alert on Administrate, we must update to `0.1.5` ASAP

[2016-04-06 23:29] kiramclean commented on #217
I'll do this and the other gems.

[2016-04-07 01:46] #213 closed

[2016-04-07 02:59] #217 closed

[2016-04-22 23:50] #215 closed

[2016-04-22 23:52] sophiedeziel opened #221 "Display the talk's slides for past events"
Past events only

[2016-04-23 00:04] #221 closed

[2016-04-23 00:26] #214 closed

[2016-04-27 20:59] #154 closed

[2016-04-27 21:08] #19 closed

[2016-04-27 21:08] #65 closed

[2016-05-01 16:09] #203 closed

[2016-05-12 15:52] itsWill commented on #199
on it!

[2016-05-16 23:35] #207 closed

[2016-05-16 23:35] #208 closed

[2016-05-17 01:12] #66 closed

[2016-05-17 01:12] #200 closed

[2016-05-18 20:11] sophiedeziel opened #228 "HTTPS all the things!!"
Heroku announced something really exciting : free SSL encryption support!
https://blog.heroku.com/archives/2016/5/18/announcing_heroku_free_ssl_beta_and_flexible_dyno_hours

With Let's Encrypt initiatives, we can get a free certificate:
https://letsencrypt.org/

Let's force HTTPS!

(note: I'm assigning to me because I have admin access to the heroku account)

[2016-05-23 17:00] dechuck commented on #10
Question related to this issue. Right now, each `User` should have one `Member`. However, a member isn't created when a user is.

So, should we automatically create a member on the user `after_save`?

[2016-05-24 14:27] sophiedeziel commented on #10
I started playing with it last week. The thing is that we also have members without users (because of the talks). We can collaborate on that one if you want!

[2016-05-24 14:27] sophiedeziel commented on #10
oups, accidentally closed!

[2016-05-24 19:14] dechuck commented on #10
@sophiedeziel I'd be happy to work with you on this one 😄

Not all the members are linked to a user, but should all the users be linked to a member?

[2016-06-06 22:42] benichu opened #232 "#events view on mobile could be a lot better (fit the screen properly)"
![](http://storage.thouret.com.s3.amazonaws.com/monosnap/Events__Montreal.rb_2016-06-06_18-41-02.png)

[2016-06-06 22:46] benichu opened #233 "Remove #footer link to wiki#changelog because it is not updated"

[2016-06-06 23:08] benichu opened #234 "There should probably be a time limit on job listings"
with a way for the company's contact to renew...

[2016-06-07 00:31] benichu opened #237 "We can do better than that "logo" and tagline (font, css, ...)"
![](http://storage.thouret.com.s3.amazonaws.com/monosnap/Events__Montreal.rb_2016-06-06_20-29-43.png)

[2016-06-07 00:33] benichu commented on #237
@sophiedeziel any reason why we are not using that logo?

![](https://raw.githubusercontent.com/montrealrb/Montreal.rb/master/app/assets/images/montreal-rb.png)

[2016-06-07 14:03] #233 closed

[2016-06-07 14:06] sophiedeziel commented on #234
Right now, I do the follow up "manually", and is a good way to maintain the relationship alive and get feedback. But this will be needed when organizations will post the jobs themselves.

[2016-06-07 14:18] sophiedeziel commented on #237
The red header + red part of the logo was pretty horrible and I decided to leave that for later. Anyone wanting to fix that is welcome!

[2016-06-07 14:44] benichu commented on #237
should we try using that logo and experimenting with different header bgcolors?

[2016-06-07 14:45] benichu commented on #234
ok

[2016-06-07 14:45] #234 closed

[2016-06-07 14:47] sophiedeziel commented on #237
Of course! I encourage anyone to experiment with the website, the style, the colors and see how they can improve it!

[2016-06-08 01:05] benichu commented on #237
@sophiedeziel I started a pull request to experiment: https://github.com/montrealrb/Montreal.rb/pull/238

[2016-06-16 02:01] KentCrutchfield commented on #237
The logo/colors look "ok" to me (maybe the font size for "Montreal's Ruby Community" could be bigger).

If we stick with this logo/color combo, the Twitter logo should change also...

[2016-06-16 12:16] benichu commented on #237
personally never really liked that logo :) but I don't think we have an alternative for now...
will create a follow up ticket to update the social branding depending on the result of that visual refactor (if any)

[2016-06-16 12:17] benichu opened #239 "Make montreal.rb brand consistent on every social networks (twitter, linkedin,...)"
depends on #237

[2016-06-17 01:19] KentCrutchfield commented on #228
If you want to do this for free in less than 30 seconds, the URL could be https://montrealrb.herokuapp.com

(No shame in letting everyone know it is on Heroku!)

[2016-06-21 19:47] fbernier commented on #228
There is https://github.com/dmathieu/sabayon which could be a good solution to start with.

[2016-06-28 01:28] em77 commented on #228
I just used [sabayon](https://github.com/dmathieu/sabayon) to implement Lets Encrypt certificates on two Rails apps I'm maintaining on Heroku and it worked pretty smoothly. Note that after you run it, you need to change the DNS settings to point to a different CNAME which you can see afterward when running `heroku domains`. That's a point I missed at first that made it take longer than necessary.

[2016-08-01 14:32] benichu opened #240 "Link to railsbridge-montreal.com website"

[2016-08-01 15:36] sophiedeziel commented on #240
Actually, we can do a lot more.

- [ ] Put the link and the logo.
- [ ] In the about section, describe more in detail what we do and add at least one paragraph about RailsBridge
- [ ] Create a special type of event for RailsBridge to display the infos on the home and link to its website
- [ ] If we ever have categories or tags for news items, we can have a RailsBridge one

[2016-08-01 16:15] benichu commented on #240
and maybe make the homepage more "attractive": https://github.com/montrealrb/Montreal.rb/pull/238

[2016-11-22 22:34] sophiedeziel commented on #211
Done by @pantoniotti

[2016-11-22 22:34] #211 closed

[2016-11-23 01:19] sophiedeziel commented on #199
Done! #226

[2016-11-23 01:19] #199 closed

[2016-11-23 16:18] sophiedeziel opened #242 "Send automatically an invite to our Slack community on sign up"
The idea is to get rid of https://montrealrb-slack.herokuapp.com/. On sign up on the website, an invite should be automatically sent, using the Slack API to do so.

[2017-01-18 01:46] kloklo90 commented on #118
Was this already taken care of because it already links to root path? The logo is not there but my understanding is that we do not want the new logo to be placed on the current red banner. I can change the header banner color if everyone wants the new logo to be put on the website.

[2017-01-18 02:05] kloklo90 commented on #237
![image](https://cloud.githubusercontent.com/assets/6946085/22048010/84302cac-dcf8-11e6-9c81-18db0ebe8bb1.png)
Would something like this suit the newer logo. I just put these together in 5 minutes on visio to be able to visualize wat it could look like.

[2017-01-18 02:05] kloklo90 commented on #118
![image](https://cloud.githubusercontent.com/assets/6946085/22048064/b3a4d7f8-dcf8-11e6-9947-817e3188d8c9.png)
Would something like this suit the newer logo. I just put these together in 5 minutes on visio to be able to visualize wat it could look like.

[2017-03-03 16:02] marina101 opened #250 "Error in sending reset-password instructions"
If you enter your email under "reset password instructions" (and the email has already been registered), when you click "Send me reset password instructions", the window displays "something went wrong".

[2017-03-03 16:19] sophiedeziel commented on #250
Thank you Marina for reporting it!

I think it's simply that SMTP is not set on our prod server.

Talk to me on Slack if you really need to reset your password so I can help you.

[2017-03-24 04:54] #242 closed

[2017-03-24 04:55] sophiedeziel commented on #250
In progress. Waiting for verification on Mailgun's side.

[2017-03-24 04:56] #194 closed

[2017-03-24 05:01] #16 closed

[2017-03-24 05:14] #10 closed

[2017-03-24 05:16] #133 closed

[2017-03-24 05:27] sophiedeziel opened #254 "As a logged in user, I want to submit a job posting"
The path to completion is:

- [ ] On the jobs page, there is a `submit job posting` button always visible
- [ ] When the user is not logged in, it should be prompted the sign in page and then be redirected to the form (automatic with devise and `:authenticate_user!`)
- [ ] Of course, an already logged in user will see directly the form
- [ ] Should be in a regular view/controller (no administrate)

[2017-03-24 05:49] sophiedeziel opened #255 "Make the project easier to install"
In the previous workshops, we had several people not knowing where to begin with. Ruby was not installed and they are making their first steps into Rails and open-source development.

We want to help them get started by having kickass docs.

We should include a step by step guide to installation (example: 1- check if you have the right ruby version installed, 2- install ruby (link to railsbridge d

[2017-03-24 05:51] sophiedeziel opened #256 "Update to Rails 5 :tada:"
yep.

[2017-03-24 05:53] sophiedeziel opened #257 "Make the seeds more realistic"
We should replace the FactoryGirl driven seeds by a sample of real data from the website.

[2017-03-24 05:56] sophiedeziel opened #258 "Update outdated gems"
Here is a list https://gemnasium.com/montrealrb/Montreal.rb

[2017-03-24 05:59] sophiedeziel opened #259 "Make the code of conduct more visible"
Right now, the code of conduct is in the repo, but it's not visible on the website. it

- [ ] should be a real page
- [ ] the link should be in the footer
- [ ] there should be a link on sign up

[2017-03-24 06:03] sophiedeziel opened #260 "Replate an organization address by a location id"
title is self explanatory

[2017-03-24 06:07] sophiedeziel opened #261 "reorder some resources in administrate"
In administrate, on the index of resources, they should be ordered in a logic manner:

for news and events, theys should be ordered by date (desc)
for locations and organization by name, alphabetically.
Jobs should have `published_at` displayed and ordered by it.

The order of the other pages does not bother me for now. If you can find a useful manner, i'll take it!

[2017-03-24 21:58] sophiedeziel opened #262 "Add talk format attribute"
Should be a dropdown with those possible values:
- Long
- Short
- Lightning

[2017-03-25 04:02] #262 closed

[2017-03-25 06:09] sophiedeziel commented on #232
fixed

[2017-03-25 06:09] #232 closed

[2017-03-27 15:21] sophiedeziel commented on #228
https://blog.heroku.com/announcing-automated-certificate-management

[2017-03-28 18:35] sophiedeziel commented on #250
Yay! It's fixed! (but the name is 'please-fixme-in-config'

<img width="631" alt="screen shot 2017-03-28 at 2 34 10 pm" src="https://cloud.githubusercontent.com/assets/1037105/24421313/ca176dc8-13c3-11e7-890b-44f9ee4bbca6.png">

[2017-04-01 15:04] #259 closed

[2017-04-08 13:27] steakunderscore commented on #258
#267

[2017-04-08 13:37] steakunderscore commented on #255
What do you think about a develop in docker approach?

[2017-05-10 23:17] #258 closed

[2017-05-15 12:28] bellef commented on #250
I tried something [here](https://github.com/montrealrb/Montreal.rb/pull/269), let me know if it's ok for you @sophiedeziel

[2017-05-15 13:57] bellef commented on #237
How about something like that?
![selection_141](https://cloud.githubusercontent.com/assets/5313833/26061063/2cb64c90-3987-11e7-96b6-e69984f618f6.png)

[2017-05-16 14:48] sophiedeziel commented on #237
I love it!

It should be aligned with the rest of the content, but I think that plain white version is what makes our logo look the best on a red background.

[2017-05-16 14:50] bellef commented on #237
I'll make a PR about it when I got the logo right (contouring). ;)

[2017-05-24 18:00] #212 closed

[2017-09-14 03:26] #261 closed

[2017-09-14 05:03] #256 closed

[2017-09-14 05:11] sophiedeziel commented on #20
<img width="663" alt="screen shot 2017-09-14 at 1 11 00 am" src="https://user-images.githubusercontent.com/1037105/30413007-a4a57426-98e9-11e7-8864-4e6c74f9db87.png">

Thinking about it, it might not be the best idea.

[2017-09-14 15:17] nicholasjhenry commented on #20
@sophiedeziel Not sure why you are being targeted with those ads ;-)

![screenshot 2017-09-14 11 14 45](https://user-images.githubusercontent.com/40253/30438068-413006cc-993e-11e7-8bd5-259f3b404430.png)

[2017-09-15 02:54] sophiedeziel commented on #20
I'm a bounty hunter by night ;)

[2017-09-15 15:45] sophiedeziel commented on #228
Status update on this issue:

🎉  we changed hosting provider 🎉
Speedy rails is providing us with an awesome server and Cloudflare. so I was able to use letsencrypt. Certificates were created successfully. Now, all that we have to do is enforce it (rails config to redirect all http to https).

[2017-09-21 19:23] sophiedeziel opened #277 "Feature: Embed youtube videos in talks"
The description is self-explanatory!
On the event view, when the talk is in the past, display the youtube video embeded.

Maybe the description should be shortened with a "Read more" (all front-end, with a slide down animation)

[2017-10-13 14:43] #254 closed

[2017-10-18 12:08] steakunderscore commented on #118
This should be closed, current design is better than anything mentioned in this ticket.

[2017-10-18 15:22] sophiedeziel commented on #118
Thanks @steakunderscore :)

[2017-10-18 15:22] #118 closed

[2017-11-21 14:45] steakunderscore opened #280 "Implement pages in admin and use them"
Currently the pages is static HTML in the views. It would be nice if we could instead add, update and remove pages with ease from the admin panel. This involves fixing the code and pre-populating the pages table with data from the html currently in the views.

- [x] Add page content to existing pages table in database
  - [x] Add existing data from views as markdown in migration
- [x] Add admin se

[2018-02-05 21:36] sophiedeziel commented on #11
done!

[2018-02-05 21:36] #11 closed

[2018-02-05 21:45] opiation commented on #277
This seems like potentially two different features that may be independent of each other.  Perhaps the truncated _preview_ description could be tracked in a separate issue.

Regarding the YouTube vids, where are the videos currently stored/displayed?  In looking at the past year or so of events, on the **events** page, I did not find any YouTube links.  Have I missed something obvious or are they

[2018-02-05 21:56] sophiedeziel commented on #277
Haha not so self-explanatory after all.

Videos are on youtube and the links are not stored in the database yet. We only started recording them in September and shared the links through slack, facebook and twitter.

It should (obviously) only be visible on past events.

The "Read More" could be a separate issue, let's display the thing first.

[2018-02-06 15:32] opiation commented on #277
As far as I can tell, there are 2 videos available (at least on the [**Montreal.rb** channel][0]):

- [Roberta Voulon](https://www.youtube.com/watch?v=GSmwG2aZwEI)
- [Anna Filina](https://www.youtube.com/watch?v=s0gKePTF31U)

Is this correct?

[0]: https://www.youtube.com/channel/UCmq5nOaMp18rcljeFocUUqw/videos

[2018-02-06 17:00] sophiedeziel commented on #277
Yes, and three others are coming.

[2018-02-08 22:27] opiation commented on #277
Thanks for your feedback.  I propose the following:

- Add a new `youtube_id` field to the `Talk` model to hold YouTube video ID hash (e.g: **GSmwG2aZwEI**)
- Add `youtube_id` input in related admin form
- When listing past events/talks, YouTube players are embedded between the talk title and the talk level (effectively placing the level below the video)
- The video pane should be approximately th

[2018-02-09 14:50] sophiedeziel commented on #277
Yes! I'll review when I find a few minutes. Thank you for your pull-request!

[2018-02-26 01:11] #228 closed

[2018-03-05 16:36] sophiedeziel opened #283 "How can we use the Meetup.com API?"
A lot of people use Meetup.com to stay informed about our events and they have a lot of great features. How can we use the API to add value to our website?

[2018-03-06 21:33] sophiedeziel opened #284 "Add mentions of our social media platforms"
Right now, there is no mention of how to be informed of our events on other platforms. We need to

- [x] Remove the mention of the Google Group in the footer (I got only spam in the past year)
- [x] Add a link to the facebook group in the footer
- [x] Add a link to twitter in the footer
- [x] Add a link to our meetup page in the footer
- [x] Add a link to our youtube channel in the footer
- [x] Ad

[2018-03-06 22:01] #277 closed

[2018-03-21 20:33] sophiedeziel opened #286 "Events categorised as "past" too soon"
Events are defined as "past" when the start time is in the past. So, when a Meetup is scheduled at 18:30 PM and it's 18:31, it is already marked as past.

This is not very convenient on the home page, because the next event will show up first and people just a little bit late might be confused. Like thinking they are heading to the wrong venue.

With that in mind, I think there should be another s

[2018-03-21 22:05] opiation commented on #286
If it helps any, I think there could be an easy win here to remain almost as elegant as [`partition`][0] from the home controller...

[code]

...and then updating the view accordingly.

[0]: https://github.com/montrealrb/Montreal.rb/blob/master/app/controllers/home_controller.rb#L5

[2018-03-26 02:03] lucianosousa commented on #126
see PR #289

[2018-03-26 02:04] lucianosousa commented on #126
![screen shot 2018-03-25 at 22 47 08](https://user-images.githubusercontent.com/44833/37883449-cf1f693a-3080-11e8-9b7c-d2046bd9c081.png)

[2018-04-18 18:01] sophiedeziel opened #290 "Have a notifications system in Administrate"
Would be SUPER helpful to have a notifications system in the Admin section of the website so I can be informed quickly about new job postings and talk proposals as soon as I log in.

[2018-04-18 18:04] bluciam commented on #290
You mean an email notification?

[2018-04-18 18:16] sophiedeziel commented on #290
More like in the top bar.

Here is a snippet I forked and modified slightly as an example. It's not the final result, just an example.

![screen shot 2018-04-18 at 2 15 07 pm](https://user-images.githubusercontent.com/1037105/38950290-ff6960b0-4312-11e8-9d56-29cdfb33e1ba.png)

https://bootsnipp.com/user/snippets/E1EoD

[2018-04-18 18:18] sophiedeziel opened #291 "Remove `titlelize` from views"
It breaks CamelCase words (and company names) and acronyms. Let the author of the post titlelize properly.

API and GitHub are butchered here:
<img width="798" alt="screen shot 2018-04-18 at 2 03 01 pm" src="https://user-images.githubusercontent.com/1037105/38950382-542fb798-4313-11e8-8baa-9ca958d09028.png">

[2018-04-30 18:00] bellef commented on #291
https://github.com/montrealrb/Montreal.rb/pull/292
Let me know if anything's missing :)

[2018-04-30 18:02] #291 closed

[2018-05-01 23:49] bluciam opened #293 "Automate social media notes"
Create a script for automating announcements of events, etc, for social media (fb, twitter, instagram, etc.) at a time when people are likely to be online.

[2018-05-31 17:38] bluciam opened #294 "Allow users to update the slides URL of a passed presentation"
I have the URL of my presentation in May, but do not have a way to update the event itself.

Shouldn't users be allowed to update the talks they proposed? It could be that the change is subject to approval.

[2018-07-12 19:38] bellef commented on #284
- [x] Remove the mention of the Google Group in the footer (I got only spam in the past year)
- [x] Add a link to the facebook group in the footer
- [x] Add a link to twitter in the footer #=> Already there
- [x] Add a link to our meetup page in the footer
- [x] Add a link to our youtube channel in the footer
- [x] Add a link to our website subscribe page in the footer
- [x] Add all those links in

[2018-07-13 13:29] bellef commented on #284
@sophiedeziel I was not up to date with the master branch and I did not see that the work was already done. Can we close the issue if there's nothing more to do?

[2018-11-16 04:36] sophiedeziel commented on #280
Done.

[2018-11-16 04:36] #280 closed

[2018-11-17 00:30] #286 closed

[2018-11-17 01:13] #284 closed

[2018-11-17 01:13] sophiedeziel commented on #284
Thank you @bellef for your contributions! It will be deployed soon.

[2018-11-17 01:26] sophiedeziel opened #300 "Assign an organizer to an event"
Each event might have a different organizer. As an admin, it is very useful to see who organizes a specific event. As an organizer, it is useful to jump right to the event I manage. As a visitor, it is useful to see who to contact for any question or comment. It is also very nice to attribute credit to the person who spent a lot of time organizing the event.

## Steps to fulfill

- [x] add an orga

[2018-12-03 02:04] #300 closed

[2018-12-17 14:22] sophiedeziel opened #302 "Add a Captcha on the sign up form"
Yay! We got bots registering!

[2018-12-19 19:52] sophiedeziel opened #304 "Update rails to 5.2.2"

[2018-12-19 21:52] peacestone commented on #302
#305

[2018-12-19 22:04] sophiedeziel commented on #302
You can add `closes #302` in the description of the Pull-Request and merging it will close that issue automatically! It's magic!

[2019-06-07 18:27] lucianosousa commented on #304
@sophiedeziel Consider to add https://dependabot.com/ in the project.
It will be helpful :D